<html>
  <body>
    <%- include('navbar', {links: links}) %>

    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, vel
      possimus fugit debitis quod eos molestias. Laudantium excepturi officiis
      iste cumque architecto, vel esse alias ducimus facere dolorum, libero
      corporis.
    </p>

    <%- include('footer') %>
  </body>
</html>
